* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-0c374c {
    background-color: #0c374c;
}
.bg-darkgray {
    background-color: darkgray;
}
.container {
    width:1024px;
    margin: 0px auto;
}
.d-flex {
    display: flex;
}
.i-flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.i-flex:hover {
    background-color: crimson;
}
.i-block {
    display: inline-block;
}
.col-3 {
    width:25%;
}
.l-style-none {
    list-style: none;
}
.text-decoration-none {
    text-decoration: none;
}
.text-tranform-uppercase {
    text-transform: uppercase;
}
.p-10 {
    padding-bottom: 10px;
}
.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.m-5 {
    margin-bottom: 5px;
}
.m-20 {
    margin-bottom: 20px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-100 {
    margin-right: 100px;
}
.border-gold {
    border-bottom: 1px solid darkorange;
}
.color-fff {
    color: #fff;
}
.color-gray {
    color: gray;
}
.fs-12 {
    font-size: 12px;
}
.moveContent-X {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.moveContent-X:hover {
    transform:translateX(35px);
    -webkit-transform:translateX(35px);
    -moz-transform:translateX(35px);
    -ms-transform:translateX(35px);
    -o-transform:translateX(35px);
}
/* .moveContent-Y {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.moveContent-Y:hover {
    transform:translateY(15px);
    -webkit-transform:translateY(15px);
    -moz-transform:translateY(15px);
    -ms-transform:translateY(15px);
    -o-transform:translateY(15px);
} */

